.boardArea{

}

.chessBoard{
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  min-height: 200px;
  max-width: 596px;
  max-height: 596px;
}

.settings{

}

.tooltip{
  position:absolute;
  top: 0;
  left:0;
  background-color: rgba(255,255,255, 0.5)
}
